@import "tailwindcss";

*::after, *::before {
  box-sizing: border-box;
}

:root {
  display: flex; flex-direction: column; align-items: center; justify-content: center;
  padding: 0px; margin: 0px;
  background-color: black;
}